<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Organization
              </th>
              <th>
                position
              </th>
              <th>
                URL
              </th>
              <th>
                 Applied Through
              </th>
              <th>
                Date applied
              </th>
              <th>
                files uploaded
                </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  logo
                </td>
                <td>
                 product owner
                </td>
                <td>
                  https://indeed/
                </td>
                <td class="text-right">
                  indeed
                </td>
                <td class="text-right">
                   26/7/2019
                  </td>
                  <td class="text-right">
                     files
                    </td>
              </tr>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
