<h5>Dashboard</h5>
<div class="row">
   
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">total Applied</p>
              <p class="card-title">{{totalApplied}}
                <p>
            </div>
           
          </div>
        </div>
      </div>
     </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Applied today</p>
              <p class="card-title">{{appliedToday}}
                <p>
            </div>           
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Progress</h5>       
      </div>
      <div class="card-body">
        <typography-cmp></typography-cmp>
        </div>
    </div>
  </div>
  <div class="col-md-6">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Calender</h5>         
        </div>
        <div class="card-body"> <icons-cmp></icons-cmp></div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">List</h5>       
        </div>
        <div class="card-body">
           <table-cmp></table-cmp>
          </div>
      </div>
    </div>
  </div>
